---
import FirstHeader from "./FirstHeader.astro";
---

<header class="w-screen">
  <!---Top Header with logo, search bar, login btn, user info ... --->
  <FirstHeader />
  <!--- Second Header with categories of product --->
  <div></div>
</header>
